.about-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .imgBox {
    width: 50%;
    img {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    }
  }
  .about-info {
    width: 50%;
    p {
      margin-top: 10px;
      line-height: 24px;
      font-size: 18px;
      color: #000000;
      text-align: justify;
    }
  }
}

@media (max-width: 768px) {
  .about-item {
    flex-direction: column-reverse;
  }
  .about-wrap .imgBox {
    width: 100%;
  }
  .about-wrap .about-info {
    width: 100%;
  }
}