#our-advantage {
  background-size: cover;
  padding: 5% 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23722a+0,439a4b+50,23722a+100 */
  background: #23722a; /* Old browsers */
  background: -moz-linear-gradient(left, #23722a 0%, #439a4b 50%, #23722a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #23722a 0%,#439a4b 50%,#23722a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #23722a 0%,#439a4b 50%,#23722a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23722a', endColorstr='#23722a',GradientType=1 ); /* IE6-9 */
}

#our-advantage h3 {
  color: #FFF8F8;
}

.advantage-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10%;
}

.advantage-wrapper .adv-item {
  justify-self: center;
  text-align: center;
}

.advantage-wrapper .adv-item p {
  font-size: 24px;
  color: #FDF8F8;
}

@media(max-width: 650px) {
  .advantage-wrapper {
    grid-gap: 4%;
  }
  .advantage-wrapper .adv-item p {
    font-size: 20px;
  }
}

@media(max-width: 470px) {
  .advantage-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
  }
  .advantage-wrapper .adv-item p {
    font-size: 18px;
  }
}
