
.gallery-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.gallery-wrap .gallery {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(63, 148, 71, 0.5);
}
.gallery-wrap .gallery img{
  max-width: 100%;
}
.gallery-wrap .gallery .desc {
  padding: 4px;
}