.banner-header {
<<<<<<< HEAD
    background-image: url('../img/header-banner.png');
    background-size: cover;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-brand {
            width: 167px;
            height: 121px;
            margin: 0;
            padding: 0;

            img {
                max-width: 100%;
            }
        }

        .toggle {
            font-size: 30px;
            display: none;
            box-sizing: border-box;
            width: 100%;
            padding: 10px 20px;
            text-align: right;
            color: #fff;
            cursor: pointer;
        }

        .nav-list {
            text-align: right;

            li {
                display: inline-block;
                list-style: none;
                padding: 0 5px;

                a {
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    font-size: 16px;
                    color: #F9F9F9;

                    .first-nav {
                        border-bottom: 2px solid #D5AB29;
                        padding-bottom: 2px;
                    }

                    span:hover {
                        border-bottom: 2px solid #D5AB29;
                        padding-bottom: 2px;
                    }
                }
            }
        }

    }
}


.header-description {
    padding: 8% 0;
}

.header-description h2 {
    font-size: 42px;

    margin: 4% 0;

    color: #f1f7f1;
}

.header-description p {
    font-size: 24px;
    margin: 4% 0;
    color: #dedbdb;
}

.header-description .btn-about {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 4% 0;
    padding: 15px 40px;
    color: #f1f7f1;
    border-radius: 50px;
    background: linear-gradient(90deg, #23722a 11.56%, #459b4d 51.28%, #26762d 92.34%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
}

.header-description .btn-about:hover {
    cursor: pointer;
    opacity: .8;
}

@media(max-width: 993px) {

    .nav-list {
        padding: 0;
    }

    .nav-list li {
        display: block;
        text-align: center;
        padding: 0 3px;
    }

    nav .nav-wrapper .nav-list li a {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    nav .nav-wrapper {
        display: block;
    }

    nav .nav-wrapper .nav-brand {
        height: 78px;
    }

    .nav-list {
        display: none;
        padding: 0;

    }

    nav .nav-wpapper .nav-list li {
        display: block !important;
        text-align: center;
        padding: 7px 5px;
    }

    .toggle {
        display: block !important;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .active {
        display: block;
        transition: .5s;
        text-align: center;
    }

    .header-description p {
        font-size: 20px;
    }
}

@media(max-width: 476px) {
    nav .nav-wpapper .nav-list li {
        display: block!important;
        padding: 7px 5px;
    }

    nav .nav-wrapper .nav-list li a {
        font-size: 16px;
    }

}
=======
  background-image: url("../img/header-banner.png");
  background-size: cover;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  width: 167px;
  height: 121px;
  padding: 0;
  margin: 0;
}

.navbar-brand img {
  max-width: 100%;
}

.nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  color: #F9F9F9;
}

.nav .nav-item .active span {
  border-bottom: 2px solid #D5AB29;
  padding-bottom: 2px;
}

.nav .nav-item .nav-link span:hover {
  border-bottom: 2px solid #D5AB29;
  padding-bottom: 2px;
}

.header-description {
  padding: 8% 0;
}

.header-description h2 {
  font-size: 42px;
  color: #F1F7F1;
  margin: 4% 0;
}

.header-description p {
  font-size: 24px;
  color: #DEDBDB;
  margin: 4% 0;
}

.header-description .btn-about {
  margin: 4% 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #F1F7F1;
  padding: 15px 40px;
  background: linear-gradient(90deg, #23722A 11.56%, #459B4D 51.28%, #26762D 92.34%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.header-description .btn-about:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media(max-width: 768px) {
  .nav {
    justify-content: center;
  }
}

@media(max-width: 576px) {
  .nav {
    flex-direction: column;
    align-items: flex-end;
  }
  .header-description p {
    font-size: 20px;
  }
}
>>>>>>> 2365245215fc6f1add6593ae6e3592b8c158877d
