body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  position: relative;
}

.lg-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.img-responsive {
  max-width: 100%;
}

h3 {
  font-size: 36px;
  color: #000000;
  text-align: center;
  padding: 35px 0;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}